@import 'tailwindcss';

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-brand-primary: #10b981;
  --color-brand-dark: #064e3b;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply bg-gray-950 text-gray-100;
  }
}
